* {
  margin: 0;
  padding: 0;
}

div.sticky {
  position: sticky;
  margin-top: -10px;
  margin-left: -10px;
  width: 120%;
  z-index: 8;
  padding: 5px;
  height: 70px;
  background-color: rgba(255, 255, 255, 0.25);
  box-shadow: 0 3px 16px rgba(0, 0, 0, 0.2);

  //   background-color: rgba(0, 0, 0, 0.25);
  //   box-shadow: 0 10px 25px rgba(255, 255, 255, 1);
  // border: 2px solid #4CAF50;
  .nav {
    top: -50px;
    left: 180px;

    .el-menu-item {
      font-size: 25px;
      font-weight: bolder;
    }
  }

  .page-header {
    background-color: white;
  }

  .topic {
    color: cornflowerblue;
    font-size: 42px;
    font-weight: bold;
    text-align: left;
    padding-top: 1%;
    padding-left: 1.5%;
    position: inherit;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  }

  .Info {
    top: 2%;
    position: fixed;
    font-size: 17px;
    right: 5%;
  }
}