* {}

.header {
  .nav /deep/ .el-menu {
    //position:absolute;

  }

  .nav {
    margin-left: 120px;
    margin-top: -20px;
    // float:right ;
    display: inline-block;
    .el-menu-item {
      //position:absolute

    }
  }

  .topic {
    // float: left;
    display: inline-block;
    // display: inline-block;
    color: cornflowerblue;
    font-size: 42px;
    font-weight: bold;
    text-align: left;
    padding-top: 1%;
    padding-left: 1.5%;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  }
}