.mainContainer{
  background-color: #f9fafc;
}
.contentContainer{
  width:1000px;
  margin:0 auto;
  margin-top: 50px;
  margin-bottom: 70px;
}

//可复用小标题
.label {
  // border: salmon solid 1px; 
  width: 100%;
  display: flex;
  flex-direction: row;
}
.label-name {
  width: auto;
  height: 48px;
  color: #000;
  // color: rgba(255, 255, 255, 1);
  // background-color: rgba(3, 92, 193, 1);
  font-size: 24px;
  margin-left: 10px;
  text-align: left;
  // font-weight: bold;
  line-height: 48px;
}
.label-left {
  width: 7px;
  height: 36px;
  margin-top: 6px;
  color: #000;
  // color: rgba(255, 255, 255, 1);
  background-color: #4990f1;
  font-size: 24px;
  text-align: center;
  // font-weight: bold;
  line-height: 48px;
}

//根据科室选择医院
.department-choose{
  margin-top:20px;
  margin-bottom:40px;
}
.el-tabs{
  
}
//选择筛选排序方式
.sort{
  width: 100%;
  background-color:lightgray;
  height:40px;
}
.department-choose-hospital{
  width: 100%;
  &:hover{
    background-color: lightgray;
  }
}
.inner-choose{
  height: 200px;
  width: 100%;
}
.inner-choose /deep/ .el-divider{
  margin:0;
}
.hospital-image{
  width: 300px;
  height: 150px;
  margin-top:25px;
  // display: inline-block;
  float: left;
}
.hospital-name{
margin-top:55px;
margin-left:50px;
font-weight: bold;
font-size:28px;
letter-spacing: 2px;
}
.hospital-level{
  margin-top:30px;
  margin-left:50px;
  font-size:18px;
  letter-spacing: 1px;
}
.enter-hospital{
  float:right;
  border:2px;
  border-color: #000;
  box-shadow: 0 0.5px 5px rgba(0, 0, 0, 0.3);
  background-color:#d3dce6;
  padding-top: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right:50px;
  height:55px;
  border-radius: 10px;
  margin-top:80px;
  color:rgb(97, 97, 97);
  font-size:28px;
  letter-spacing: 3px;
  font-weight: bold;
  &:hover{
    cursor:pointer;
    color:#4990f1;
  }
}
.hospital-content{
  // display: inline-block;
  float: left;
}
.inner-enter{
  text-align: center;
  // padding-top:10px;
}
a:link{
  color:#333;
}
a:visited{
  color:#333;
}
a:hover{
  color:#4990f1;
}
a:active{
  color:#4990f1;
}

.block {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 35%;
    width: 0;
}
.pagination {
    width: 100%;
}
.carousel-container {
  border-radius: 10px;
  width: 100%;
  height: auto;
  background-color: #f9fafc;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.3);
  margin-bottom: 50px;
  // display:inline-block;
}
.home-carousel {
}
/* 走马灯指示器样式 */
// .home-carousel /deep/ .el-carousel__indicators {
//   left: unset;
//   transform: unset;
//   right: 2%;
// }
.home-carousel /deep/ .el-carousel__button {
  width: 30px;
  height: 10px;
  // border: none;
  // border-radius: 50%;
  // background-color: rgba(0, 0, 0, 0.2);
}
// .home-carousel /deep/ .is-active .el-carousel__button {
//   background: #3f8ec8;
// }

//选择医院
.hospital-choose{
  margin-top:20px;
  margin-bottom:40px;
}
