@font-face {
  font-family: "iconfont"; /* Project id 2933034 */
  src: url('iconfont.woff2?t=1636685974259') format('woff2'),
       url('iconfont.woff?t=1636685974259') format('woff'),
       url('iconfont.ttf?t=1636685974259') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiaozu:before {
  content: "\e69a";
  font-size: 18px;
  margin-right: 3px;
  margin-top:2px;
}

